<%- include("header") -%>

<h1 style="text-align: center;margin-top: 20rem;"><%= item.question %> </h1>
<video id="myVideo" playsinline class="video-js vjs-default-skin hide"></video>
<form action="/" name="repeat" method="get"></form>
</form>

<%- include("footer") -%> 